.container {
  width: 87.5%;
  margin: 0 auto;

  @include vp-tablet {
    width: 89.58%;
  }

  @include vp-desktopmin {
    width: 78%;
  }

  @include vp-desktopmax {
    width: 78.12%;
    max-width: 1500px;
  }
}
