@mixin fontRoboto ($fw, $fs, $lh, $color) {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
}

@mixin fontAmatic ($fw, $fs, $lh, $color) {
  font-family: "Amatic SC", "Arial", sans-serif;
  font-style: normal;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
}

@mixin fontOpenSans ($fs, $lh, $color) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 400;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
}

@mixin fontElMessiri ($fs, $lh, $color) {
  font-family: "El Messiri", "Arial", sans-serif;
  font-style: normal;
  font-size: 400;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
}
