// Основные цвета сайта
$color-light: #bfbfbf;
$color-dark: #4a4a4a;
$color-accent-light: #edf4d2;
$color-accent-middle: #688800;
$color-accent-dark: #728536;
$color-logo-bg: #7da00c;
$color-counter: #d73a31;

// Цвета Масло Для салата
$color-salad-light: #bfd087;
$color-salad-dark: #546b06;
$color-salad-gradient1: #536614;
$color-salad-gradient2: #97c20b;

// Цвета Масло Итальянское
$color-italian: #009246;
$color-italian-light: #69d49e;
$color-italian-dark: #116137;
$color-italian-gradient1: #076534;
$color-italian-gradient2: #00db69;

// Цвета Масло Для мяса
$color-meat-light: #e8847e;
$color-meat-dark: #73120d;
$color-meat-gradient1: #99160e;
$color-meat-gradient2: #e84239;

// Цвета Масло Восточное
$color-eastern: #e67f10;
$color-eastern-light: #f1a757;
$color-eastern-dark: #bd690d;
$color-eastern-gradient1: #ba6400;
$color-eastern-gradient2: #ff9d34;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1366: 1366px;
$vp-1920: 1920px;
