.footer__socials.socials
  ul.socials__list.reset-list
    li.socials__item
      a.socials__link(href="#")
        +svgIcon('vk')(class='socials__icon' width='33' height='20' fill="#ffffff")
    li.socials__item
      a.socials__link(href="#")
        +svgIcon('insta')(class='socials__icon' width='37' height='37' fill="#ffffff")
    li.socials__item
      a.socials__link(href="#")
        +svgIcon('youtube')(class='socials__icon' width='40' height='28' fill="#ffffff")
