section.main__products.products.container
  h2.products__title.title Наши продукты
  .products__pagination
  .products__swiper.swiper
    ul.swiper-wrapper
      li.swiper-slide Слайд 1
      li.swiper-slide Слайд 2
      li.swiper-slide Слайд 3
      li.swiper-slide Слайд 4
