.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {
  &:not(:last-child) {
    position: relative;
    margin-right: 43px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -22px;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: $color-light;
    }
  }
}

.breadcrumbs__link {
  text-decoration: none;

  @include fontMontserrat(16px, 21px, $color-light);

  &[href]:hover {
    opacity: 0.8;
    transition: 0.3s;
  }

  &[href]:active {
    opacity: 0.6;
    transition: 0.3s;
  }
}
