.fitness {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 123px 0 147px;
}

.fitness__title {
  width: 300px;
}

.fitness__wrapper {
  padding: 0 0 0 58px;
}

.fitness__text {
  margin: 0;
  margin-bottom: 30px;
  letter-spacing: 0.05em;

  @include fontMonda(21px, 27px, #656565);
}

.fitness__description {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
