.footer {
  padding: 32px 0;
  background-color: $color-accent-dark;

  @include vp-tablet {
    padding: 40px 0;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  justify-items: center;
  background-color: $color-accent-dark;
}

.footer__logo {
  width: 104px;
  height: 104px;
}

.footer__logo img {
  width: 41px;
  height: 86px;
}
