.footer {
  background-color: $color-dark;
}

.footer__wrapper {
  display: flex;

  &--top {
    justify-content: space-between;
    padding: 40px 0 40px;
  }

  &--middle {
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
    border-top: 1px solid $color-light;
  }

  &--bottom {
    justify-content: center;
    padding-bottom: 60px;
  }
}

.footer__address {
  margin-right: 27px;

  @include fontMontserrat(16px, 21px, $color-light);
}

.footer__socials {
  margin-right: 50px;
}

.footer__tel-link {
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include fontMontserrat(13px, 17px, $color-light);

  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.6;
    transition: 0.3s;
  }
}

.footer__copyright {
  @include fontMontserrat(14px, 18px, $color-light);
}

