.header {
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-top: -16px;
  margin-left: -5px;

  @include vp-tablet {
    margin-top: -32px;
    margin-left: -23px;
  }

  @include vp-desktopmin {
    margin-top: -29px;
    margin-left: -40px;
  }

  @include vp-desktopmax {
    margin-top: -42px;
    margin-left: -48px;
  }
}
