.products__title {
  margin-bottom: 16px;
  padding-right: 20px;
  text-align: center;
}

.products__swiper {
  padding: 50px 0;
}

.products__pagination {
  display: flex;
  overflow-x: auto;
}

.products__pagination > .swiper-pagination-bullet {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  height: 40px;
  color: $color-salad-light;
  background-color: transparent;
  border: 1px solid $color-salad-light;
  border-radius: 0;
  cursor: pointer;

  @include fontRoboto(400, 18px, 24px, $color-salad-light);
}

.products__pagination > .swiper-pagination-bullet-active {
  color: $color-salad-dark;
  background-color: $color-salad-light;

  @include fontRoboto(400, 18px, 24px, $color-salad-dark);
}
