.socials {
  display: grid;
  grid-template-columns: repeat(3, 24px);
  column-gap: 32px;
  row-gap: 10px;

  @include vp-desktopmin {
    column-gap: 24px;
  }

  @include vp-desktopmax {
    column-gap: 32px;
  }
}
