mixin logo(name)
  - const names = [name, 'logo']
    div(class=names)
      img.logo__img(src="./img/content/logo.svg", alt="Логотип R.olio.")&attributes(attributes)

mixin menu(name)
  - const classes = [name, 'menu']
    ul(class=classes)
      each item in linksItems
        li.menu__item
          a.menu__link(href=item.link)= item.name

mixin svgIcon(icon)
  svg&attributes(attributes)
    use(href=`./img/sprite.svg#${icon}`)
