block variables

block mixins

doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{siteTitle}
    link(rel="stylesheet", href="./css/style.min.css")
  body
    .body-wrapper
      include ./header
      block content
      include ./footer
    block scripts
      <script src="./js/script.js"></script>
