//- extends ../layout/layout.pug

//- prepend variables
//-   -
//-     const siteTitle = "Страница не найдена";
//-     const isPage = 'error-page';

//- block content
//-   main.error-page Здесь контент страницы ошибки
