extends ../layout/layout.pug

prepend variables
  -
    const siteTitle = "Главная";
    const isPage = 'main-page';

block content
  main.main
    include ../modules/fitness/fitness
    include ../modules/category/category

