.intro__breadcrumbs.breadcrumbs
  each item in menuItems
    ul.breadcrumbs__list.reset-list
      if item.page === isPage
        li.breadcrumbs__item
          a.breadcrumbs__link(href="./index.html") Главная
        li.breadcrumbs__item
          a.breadcrumbs__link.breadcrumbs__link--item= item.name
