.intro__menu
  include ./breadcrumbs
  .intro__menu-description
    each item in menuItems
      if item.page === isPage
        h1.intro__menu-title= item.title
        p.intro__menu-text= item.text
