.intro__menu.container
  .intro__wrapper-content
    include ./breadcrumbs
    .intro__menu-description
      each item in menuItems
        if item.page === isPage
          h1.intro__title= item.title
          p.intro__text= item.text
