.intro__menu.container
  .intro__wrapper
    h1.intro__title.intro__title--main Спортивный клуб BALANCE
    ul.intro__list.reset-list
      li.intro__item Роскошная студия для тренировок с новейшим оборудованием
      li.intro__item Качественный состав тренеров с опытом работы более ДЕСЯТИ лет
      li.intro__item ДЕВЯТЬ направлений с авторской программой
    +button('a', 'Подробнее', '#')(class='button--accent-light user-menu__link')
  .intro__menu-connection
    +button('a', 'Позвонить нам', 'tel:89000000000')(class='intro__link-call')
    +svgIcon('logo')(class='intro__logo logo' width='200' height='25' stroke="#393939")
