ul.nav__user-menu.user-menu.reset-list
  li.user-menu__item
    +button('a', 'Регистрация', '#')(class='user-menu__link')
  li.user-menu__item
    +button('a', 'Вход', '#')(class='button--accent user-menu__link')
