-
    const menuItems = [
      {
        name:'Абонементы',
        url: './subscription.html',
        page: 'subscription-page'
      },
      {
        name: 'Галерея',
        url: './gallery.html',
        page: 'gallery-page'
      },
      {
        name: 'Услуги',
        url: './services.html',
        page: 'services-page'
      },
      {
        name: 'Расписание',
        url: './schedule.html',
        page: 'schedule-page'
      },
      {
        name: 'Сертификаты',
        url: './sertificates.html',
        page: 'sertificates-page'
      },
      {
        name: 'Тренеры',
        url: './trainers.html',
        page: 'trainers-page'
      },
      {
        name: 'Контакты',
        url: './contacts.html',
        page: 'contacts-page'
      }
    ]
