section.main__fitness.fitness.container
  +title('fitness__title', 'Fitness And Pole Dance Studio')
  .fitness__wrapper
    p.fitness__text Лучшее решение для тех, кто хочет обрести стройную фигуру и красивую осанку!
    +description('fitness__description', 'Уникальный комплекс упражнений, разработанный профессиональными тренерами, поможет Вам привести свое тело в форму, избавиться от лишнего веса и укрепить мышечный каркас Вашего тела. Мы создали лучшую студию фитнеса с любовью и заботой о вас и вашем здоровье!')
    +description('fitness__description', 'В нашей просторной студии вы будете чувствовать себя  максимально комфортно. Стильный интерьер, ритмичная музыка и единомышленники настроят на продуктивную тренировку.')
    +description('fitness__description', 'Так же у нас работают профессионалы своего дела! Наши тренеры - грамотные, талантливые, настроенные на постоянное развитие и внимательные к вам специалисты. Они точно знают, как сделать тренировку для вас максимально полезной и эффективной.')
