.user-menu
  button.user-menu__button.user-menu__button--burger
    +svgIcon('burger-icon')(width="24", height="20", fill="#688800")(class="user-menu__icon user-menu__icon--burger")
  button.user-menu__button.user-menu__button--basket
    +svgIcon('basket')(width="32", height="30", fill="#688800")(class="user-menu__icon user-menu__icon--basket")
    span.user-menu__counter 1
